In [1]:
import requests
import pandas as pd
import os 
import glob
import numpy as np

## Introduction and Instructions

These series of Jupyter notebooks were made to take the state and county labor statistics documents from the Vermont Department of Labor, clean and transform them into a Tidy format for large data analysis and conversion to geospatial datasets to be posted on the Open Data Portal. 

Each notebook is numbered to show the sequence of steps. For this notebook the focus is downloading and adding all the data into Vermont and County datasets with all years. The first step below is setting the year of the file you are adding, this must be changed every time to reflect the next year.

There is also a section half way down that will raise an exception if the year being run already exists in the cumlative csv file.

In [2]:
year = '2000'

## The Data

All the data below was downloaded from the Vermont Department of Labor here: http://www.vtlmi.info/indnaics.htm#mqa Below is the Year To Date table for State and County with Industry sectors. The next section can uncommented be run the very first time to automatically pull the speadsheets to your local drive.

In [3]:
# List of direct urls of excell files on the http://www.vtlmi.info/indnaics.htm#mqa site, add additional years if they are there
urllist = ["http://www.vtlmi.info/public/qcew/vtqcewytd_lma2017.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2016.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2015.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2014.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2013.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2012.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2011.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2010.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2009.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2008.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2007.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2006.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2005.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2004.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2003.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2002.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2001.xls",
           "http://www.vtlmi.info/public/qcew/vtqcewytd_lma2000.xls"
          ]


# This is to pull all the files
#for x in urllist:
#    resp = requests.get(x)
#    output = open(x[-11:], 'wb')
#    output.write(resp.content)
#    output.close()

In [4]:
# Lists what files are currently in the local folder
glob.glob('./*.xls')
doclist = glob.glob('./*.xls')
doclist

['.\\lma2000.xls',
 '.\\lma2001.xls',
 '.\\lma2002.xls',
 '.\\lma2003.xls',
 '.\\lma2004.xls',
 '.\\lma2005.xls',
 '.\\lma2006.xls',
 '.\\lma2007.xls',
 '.\\lma2008.xls',
 '.\\lma2009.xls',
 '.\\lma2010.xls',
 '.\\lma2011.xls',
 '.\\lma2012.xls',
 '.\\lma2013.xls',
 '.\\lma2014.xls',
 '.\\lma2015.xls',
 '.\\lma2016.xls',
 '.\\lma2017.xls']

## Running Dataset

In order to add all the years to one file a CSV for county and for state are saved to the local drive, this checks if it has already been created (which it would if it was the second or more time). If you need to restart everything, delete the local CSV files and restart at the first year.

In [5]:
# Imports the running dataset which the year selected will be added
if os.path.isfile('cumllaborvt.csv'):
    cumllaborvt = pd.read_csv("cumllaborvt.csv")
else:
    cumllaborvt =  pd.DataFrame()
    
if os.path.isfile('cumllaborcnty.csv'):
    cumllaborcnty = pd.read_csv("cumllaborcnty.csv")
else:
    cumllaborcnty =  pd.DataFrame()

In [6]:
# This checks if the year already exists and stops the kernel if it does

yeartest = pd.to_numeric(year) 

if cumllaborvt.empty:
    print("This is the first time the data has been run")
elif yeartest not in list(cumllaborcnty['Year']):
    print("This year has not been run yet")    
elif yeartest in list(cumllaborcnty['Year']):
    raise Exception("This year already exists")
else:
    print("Check if your data is valid")

This year has not been run yet

In [7]:
# Imports excel file and gives list of sheets
data = pd.ExcelFile('lma'+year+'.xls')
colList = data.sheet_names

print(colList)

[u'Labor Market Areas', u'Vermont', u'Barre-Montpelier', u'Bennington', u'Brattleboro', u'Burlington', u'Colebrook NH', u'Derby', u'Highgate', u'Littleton NH', u'Manchester', u'Middlebury', u'Morristown-Waterbury', u'Newbury', u'N Adams MA', u'Northfield-Waitsfield', u'Randolph', u'Rutland', u'Springfield', u'St. Johnsbury', u'White River Jct', u'Woodstock', u'Isolated', u'All Other']

In [8]:
# creates a dictionary of sheet names and blank value where the data will be placed
locations = {'Vermont':None, 
             'Barre-Montpelier':None, 
             'Bennington':None, 
             'Brattleboro':None, 
             'Burlington':None,
             'Colebrook NH':None,
             'Derby':None,
             'Highgate':None,
             'Littleton NH':None,
             'Manchester':None,
             'Middlebury':None,
             'Morristown-Waterbury':None,
             'Newbury':None,
             'N Adams MA':None,
             'Northfield-Waitsfield':None,
             'Randolph':None,
             'Rutland':None,
             'Springfield':None,
             'St. Johnsbury':None,
             'White River Jct':None,
             'Woodstock':None,
             'Isolated':None,
             'All Other':None
            }
             

# Parses each sheet in the spreadsheet into the dictionary value
for item in locations.keys():
    locations[item] = data.parse(item, skiprows=6)

In [9]:
# Takes the county name from the first row of each data set and adds it as a column value for all rows for when it is added together
for item in locations.values():
    item['County'] = item.iloc[0,0]

In [10]:
# Takes all the data in the dictionary and appends them together as a list of dataframes
datalist = []

for item in locations.values():
    datalist.append(item)

In [11]:
# Appends everything together in a single large dataframe
cumlative = pd.concat(datalist)

In [12]:
# View column names before renaming them
cumlative.columns

Index([u'Unnamed: 0',        u'Jan',        u'Feb',        u'Mar',
              u'Apr',        u'May',        u'Jun',        u'Jul',
              u'Aug',        u'Sep',        u'Oct',        u'Nov',
              u'Dec',      u'Qtr 1',      u'Qtr 2',      u'Qtr 3',
            u'Qtr 4',     u'Annual',    u'Qtr 1.1',    u'Qtr 2.1',
          u'Qtr 3.1',    u'Qtr 4.1',   u'Annual.1',    u'Qtr 1.2',
          u'Qtr 2.2',    u'Qtr 3.2',    u'Qtr 4.2',   u'Annual.2',
          u'Qtr 1.3',    u'Qtr 2.3',    u'Qtr 3.3',    u'Qtr 4.3',
         u'Annual.3',    u'Qtr 1.4',    u'Qtr 2.4',    u'Qtr 3.4',
          u'Qtr 4.4',   u'Annual.4',     u'County'],
      dtype='object')

## Female Employment

The count of female employment stopped as of 2016. As this changes the number of columns the code below inserts NaN columns in order to append it all together successfully.

In [13]:
collist1 = ['Type', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug','Sep', 'Oct', 'Nov', 'Dec', 
           'Average Employment Qtr 1', 'Average Employment Qtr 2', 'Average Employment Qtr 3', 'Average Employment Qtr 4', 'Average Employment Annual',
           'Average Female Employment Qtr 1', 'Average Female Employment Qtr 2', 'Average Female Employment Qtr 3', 'Average Female Employment Qtr 4', 'Average Female Employment Annual',
           'Total Wages Qtr 1', 'Total Wages Qtr 2', 'Total Wages Qtr 3', 'Total Wages Qtr 4', 'Total Wages Annual',
           'Average Wage Qtr 1','Average Wage Qtr 2', 'Average Wage Qtr 3', 'Average Wage Qtr 4', 'Average Wage Annual',
           'Number of Establishments Qtr 1', 'Number of Establishments Qtr 2', 'Number of Establishments Qtr 3', 'Number of Establishments Qtr 4', 'Number of Establishments Annual','County']

collist2 = ['Type', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug','Sep', 'Oct', 'Nov', 'Dec', 
              'Average Employment Qtr 1', 'Average Employment Qtr 2', 'Average Employment Qtr 3', 'Average Employment Qtr 4', 'Average Employment Annual',
              'Total Wages Qtr 1', 'Total Wages Qtr 2', 'Total Wages Qtr 3', 'Total Wages Qtr 4', 'Total Wages Annual',
              'Average Wage Qtr 1','Average Wage Qtr 2', 'Average Wage Qtr 3', 'Average Wage Qtr 4', 'Average Wage Annual',
              'Number of Establishments Qtr 1', 'Number of Establishments Qtr 2', 'Number of Establishments Qtr 3', 'Number of Establishments Qtr 4', 'Number of Establishments Annual','County']

def changeheader(data):
    if len(data.columns) == 39:
        data.columns = collist1
    elif len(data.columns) == 34:
        data.columns = collist2
        data['Average Female Employment Qtr 1'] = np.nan
        data['Average Female Employment Qtr 2'] = np.nan
        data['Average Female Employment Qtr 3'] = np.nan
        data['Average Female Employment Qtr 4'] = np.nan
        data['Average Female Employment Annual'] = np.nan

changeheader(cumlative)
cumlative.columns

Index([u'Type', u'Jan', u'Feb', u'Mar', u'Apr', u'May', u'Jun', u'Jul', u'Aug',
       u'Sep', u'Oct', u'Nov', u'Dec', u'Average Employment Qtr 1',
       u'Average Employment Qtr 2', u'Average Employment Qtr 3',
       u'Average Employment Qtr 4', u'Average Employment Annual',
       u'Average Female Employment Qtr 1', u'Average Female Employment Qtr 2',
       u'Average Female Employment Qtr 3', u'Average Female Employment Qtr 4',
       u'Average Female Employment Annual', u'Total Wages Qtr 1',
       u'Total Wages Qtr 2', u'Total Wages Qtr 3', u'Total Wages Qtr 4',
       u'Total Wages Annual', u'Average Wage Qtr 1', u'Average Wage Qtr 2',
       u'Average Wage Qtr 3', u'Average Wage Qtr 4', u'Average Wage Annual',
       u'Number of Establishments Qtr 1', u'Number of Establishments Qtr 2',
       u'Number of Establishments Qtr 3', u'Number of Establishments Qtr 4',
       u'Number of Establishments Annual', u'County'],
      dtype='object')

In [14]:
# Adds the year 
cumlative['Year'] = year

In [15]:
# Removes all NA rows and rows that contain footnotes or count names as these had individual rows without values
exclude = ['nan', '(c) = data can not be released, does not meet confidentiality standards', 
           '- = zero employment, wages or establishments','na = data is not available', 
           'released: November 2015', 'released: September 2016', 'released: August 2017','released: November 2017',
           'Addison County', 'Vermont','Bennington County', 'Chittenden County','Caledonia County', 'Essex County', 'Franklin County', 
           'Grand Isle County', 'Lamoille County', 'Orange County', 'Orleans County', 'Rutland County', 'Washington County',
           'Windham County','Windsor County', 'All Other county']
    
cumlative = cumlative.loc[~cumlative['Type'].isin(exclude)]
cumlative = cumlative.loc[cumlative['Type'].notnull()]

# removes all leading whitespaces on the type name, indentation was used to show hierachy in the original file
cumlative['Type'] = cumlative['Type'].str.lstrip()

In [16]:
# Creates county only data set
cumlativecnty = cumlative[cumlative['County'] != 'Vermont']

# Creates state only data set
cumlativevt = cumlative[cumlative['County'] == 'Vermont']

In [17]:
cumlativecnty.head()

,Type,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,...,Average Wage Qtr 3,Average Wage Qtr 4,Average Wage Annual,Number of Establishments Qtr 1,Number of Establishments Qtr 2,Number of Establishments Qtr 3,Number of Establishments Qtr 4,Number of Establishments Annual,County,Year
0,Brattleboro Labor Market Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Brattleboro Labor Market Area,2000
1,Total Covered - all ownerships,23128,23193,22868,22199,22498,23031,22256,22080,22533,...,6912,7410,28251,1819,1839,1847,1847,1838,Brattleboro Labor Market Area,2000
2,Private ownership,20586,20598,20215,19557,19796,20269,20011,19875,20017,...,6926,7503,28526,1698,1718,1726,1726,1717,Brattleboro Labor Market Area,2000
3,Goods Producing domain,4454,4338,4283,4441,4521,4640,4420,4331,4282,...,8118,8743,32942,358,366,362,359,361,Brattleboro Labor Market Area,2000
4,Natural Resources and Mining supersector,345,335,350,364,372,417,420,428,406,...,5416,5515,21910,39,40,39,38,39,Brattleboro Labor Market Area,2000

In [18]:
cumlativevt.head()

,Type,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,...,Average Wage Qtr 3,Average Wage Qtr 4,Average Wage Annual,Number of Establishments Qtr 1,Number of Establishments Qtr 2,Number of Establishments Qtr 3,Number of Establishments Qtr 4,Number of Establishments Annual,County,Year
1,Total Covered - all ownerships,292696,292997,294742,290568,296122,301424,290522,293413,299962,...,7048,7633,28925,23542,23802,23920,23958,23806,Vermont,2000
2,Private ownership,244877,244645,244912,241513,245675,252850,252648,253631,251854,...,6987,7649,28704,21872,22132,22238,22276,22130,Vermont,2000
3,Goods Producing domain,61219,60802,61468,63132,64940,67019,67040,67282,66739,...,8901,9756,37120,4218,4305,4337,4327,4297,Vermont,2000
4,Natural Resources and Mining supersector,2646,2640,2814,3055,3280,3469,3439,3456,3390,...,5880,6353,24244,382,386,383,381,383,Vermont,2000
5,"Agriculture, forestry, fishing and hunting",1870,1891,1969,2117,2300,2474,2457,2448,2394,...,4730,5175,19523,313,316,314,311,314,Vermont,2000

In [19]:
# Checks if this is the first time this has been run and either creates the first dataset for saving to a csv or appends it to what is there
if cumllaborcnty.empty:
    cumllaborcnty = cumlativecnty
else:
    cumllaborcnty = cumllaborcnty.append(cumlativecnty, ignore_index=True)
    
if cumllaborvt.empty:
    cumllaborvt = cumlativevt
else:
    cumllaborvt = cumllaborvt.append(cumlativevt, ignore_index=True)

In [20]:
cumllaborcnty.to_csv("cumllaborcnty.csv", index=False)
cumllaborvt.to_csv("cumllaborvt.csv", index=False)

Annual Average Employment or Jobs: The employment figures in this report are a simple average of the reported monthly employment figures for the calendar year.  In some industries where there are significant seasonal changes in the number employed during the year, the annual average employment will differ significantly from the level of employment for any part of the year.  Employment is the same as the number of jobs.

Annual Average Wage: The annual average wage is a figure computed from total wages and average employment (total annual wages/annual average employment). Because it is an average of aggregate data the annual average wage should not be used to estimate hourly wages.  Employers do not report hourly information. Employment and wage data cover hourly workers, salaried workers, and persons paid on a commission basis and who may be working full-time, part-time, or overtime.  The annual average employment and wage figures can be influenced by the mix of these items and should be interpreted with caution.

Confidentiality Standards: Confidentiality standards apply to private sector data only.  The publication of data that would disclose an individual firm’s employment or wage information is prohibited under the Bureau of Labor Statistic’s guidelines of confidentiality.  Aggregate data is not published if it represents fewer than three private employers or if one private employer represents 80% or more of the data.  In addition, Vermont does not publish data with fewer than ten private sector employees.  All government data is publishable.

Covered Employer: Covered employer refers to a business subject to the Vermont Unemployment Compensation Law, or for federal agencies, the Federal Unemployment Compensation Law.   Covered employers include:  1) private for-profit businesses with one or more employees, 2) federal, state and local government agencies, 3) non-profit religious, charitable, or educational firms with at least four employees, 4) farms employing ten or more workers, 5) private homes employing domestics, and 6) exempt firms who voluntarily elect coverage. Excluded are: 1) the self-employed, 2) most farms, 3) some non-profits, 4) Churches, 4) railroads (workers are covered by the railroad unemployment insurance system), 5) elected officials, 6) officers and family members of sole proprietorships or partnerships, and 7) student workers in a work-study or academic program.

Covered Employment and Wages: The data in this report refers to employees and their wages in businesses required to furnish unemployment insurance coverage.  See Covered Employer.

Data Source: Data is compiled from quarterly reports submitted by employers.  The reports contain monthly employment information for the pay period that includes the 12th of the month and total wages paid in the quarter.
Establishments, Worksites and Employers: A reporting unit is the smallest economic unit for which data is reported. An establishment is an economic unit, such as a farm, factory, or store, which produces goods or provides services at a single physical worksite and engaged, predominantly, in one type of economic activity.  Most employers operate only one establishment or place of business so all of their activity is reported under one reporting unit.  Employers who operate more than one establishment in the state are requested to report each worksite separately.

In some cases the employer aggregates the worksites into several units, though not at the establishment level. Occasionally, a single physical location encompasses two or more distinct and significant activities that, if possible, are reported as separate units.  In these cases, a reporting unit is only one worksite, or a group of worksites, or part of a worksite and not all of an employers’ activity in the state.

Growth or Increase in the Number of Jobs: All information referring to growth in this report is based on net changes.  The amount of growth during any time period is equal to the number of jobs (or wages) gained minus the number of jobs (wages) lost.

Industry Groups or NAICS: Beginning with the publication of 2001 annual data, the North American Industry Classification System (NAICS) is used to group industries.   NAICS replaced the Standard Industrial Classification (SIC) system in the U.S., and is used by all North American governmental and many private organizations for the purposes of uniformity in presenting statistical data.  The NAICS classification structure groups industries based on similar production processes. For more information on NAICS, please visit the Bureau of Labor Statistics website, http://www.bls.gov/bls/naics.htm.

Ownership - Private and Governmental: The ownership of establishments is classified as either Private or Government.  Government employers are further classified by level of government: Local (operated by town), State (operated by the State) or Federal (operated by the United States Government).

Reclassification of Specific Firms: In an active economy many firms change their physical location and some change their primary business activity.  To maintain and update location and activity information all employers are surveyed during a three year cycle.  The resulting changes are effective at the start of the next calendar year.  While this improves the accuracy of data analysis, it also introduces fluctuations in the data from year to year due to these administrative changes.

Seasonal Activity: Seasonal activity in Vermont industries produces significant variation in employment levels during the year.  The annual average provides a convenient summary of the year’s employment and wages.  By definition, however, it obscures the peaks and valleys.

Size Class: Each reporting unit is assigned to one of nine size class categories based upon March employment.  It is important to note that for multi-establishment employers size class is based on each worksite, not the firm's total employment.
Unclassified County Data: A small percentage of covered employment and total wages are not classified by county.  In these cases the employees' work is not performed at a given physical location, e.g., traveling salespeople.